.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 93px 50px 95px;
}
.header__menu {
    display: flex;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    font-weight: 400;
    margin-bottom: 2px;

}
.header__links-list {
    display: flex;
    gap: 32px;
    list-style-type:circle;
}
.header__links-list-item {
    font-size: 18px;
}
.header__links-list-item_active {
    text-decoration: none;
}

.header__logo {
    width: 135px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    height: 98px;
    justify-self:flex-end;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    text-decoration-thickness: 2px;
    margin-right: 35px;
    
}
.header-address {
    margin-bottom: 4px;
}
.header-address-info {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;
    width: 1100px;
    height: 757px;
    z-index: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}
.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);


}
.card__title {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    z-index: 1;
    height: 385px;
    margin-top: 165px;
    margin-right: 50px;
    margin-left: 50px;
}

.align-text-left {
    align-self: flex-start;
    width: 286px;
    height: 115px;
}
.align-text-center {
    align-self: center;
    width: 339px;
    height: 115px;
    padding-top: 20px;
}
.align-text-right {
    align-self: flex-end;
    width: 387px;
    height: 115px;
    padding-top: 36px;
}

.cover__description {
    display: flex;
    align-content: center;
    justify-content: space-between;
    z-index: 1;
    width: 1100px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}
.cover__description-text {
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 51px;
    font-weight: 400px;
    font-size: 22px;
    word-spacing: 18px;
}
.bet-button {
    z-index: 1;
    position: relative;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 256px;
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 500;
    line-height: 51px;
    font-style: medium;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
}
.lots {
    margin-top: 180px;
    margin-right: 24px;
    margin-left: 24px;
    height: 723px;
    
}
.lots__heading {
    width: 121px;
    height: 47px;
    font-family: "Raleway",sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;

}

.lots__card-list {
    display: flex;
    flex-direction: row;
    height: 596px;
    list-style-type: none;
    margin-top: 27px; 
    z-index: 0;
    position: relative;
    gap: 25px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    width: 334px;
    height: 596px;
    padding: 48px 40px 48px 40px;
    color: white;
    
}
.card-title {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
}
.card-text {
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.lots__card-list-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 596px;
    z-index: 0;
    position: relative;
}

.lots__look-more-link {
    margin-top: 6px;
    margin-left: 40px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.about {
    margin-top: 120px;
    padding-right: 24px;
    padding-left: 24px;
    height: 595px;
}
.about__column {
    display: grid;
    grid-template-columns: 334px auto;
}
.logo {
    margin-top: 35px;
    margin-left: 47px;
    height: 240px;
    width: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 148px;
    height: 114px;
}
.about__info {
    height: 449px;
    margin-top: 133px;
}
.about-title {
    margin-left: 23px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.about-text {
    margin-top: 100px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: "Raleway",sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.footer {
    margin-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.address-footer {
    display: flex;
    justify-self: flex-start;
}
.footer__menu {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.footer__menu-list {
    list-style-type: none;
}
.footer__menu-list-item {
   justify-self: center;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   font-weight: 400;
}
.footer__social-list-item {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 48px;
    list-style-type: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}
.footer__menu-link_active {
    text-decoration: none;
}
